* {
  box-sizing: border-box;
  color: #ececec;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;

  display: flex;

  background-color: #111318;

  overflow: hidden;
}